# =========================
# DEPENDENCIES
# =========================
/packages
/node_modules
/lib

# =========================
# BUILD OUTPUT
# =========================
/bin/
/obj/
/dist/
/build/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# =========================
# LOGS & TEMP FILES
# =========================
*.log
*.tmp
*.tlog
[Ll]ogs/

# =========================
# USER & IDE FILES
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
.idea/
.vscode/

# =========================
# RESHARPER
# =========================
_ReSharper*/
*.[Rr]e[Ss]harper

# =========================
# OS FILES
# =========================
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
$RECYCLE.BIN/

# =========================
# DATABASE FILES
# =========================
*.mdf
*.ldf
*.ndf
*.db
*.db3
*.sqlite
*.sqlite3

# =========================
# ENVIRONMENT FILES
# =========================
.env
.env.*	  

# =========================
# NUGET
# =========================
*.nupkg
**/packages/*
!**/packages/build/

# =========================
# PUBLISH FILES
# =========================
*.pubxml.user

# =========================
# SECRETS (OPTIONAL)
# =========================
secrets.json

Migrations/
Data/Migrations/
appsettings.json
appsettings.Development.json
# Ignoring the github folder
.github/

#Ignore Migration folder
Data/Migrations/